@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rubik:wght@400&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.title, .btn, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.card {
  &.image-full {
      > figure img {
          height: 100%;
          object-fit: cover;
          filter: brightness(80%);
      }
  }
}
.card {
  &.image-full.dark {
      > figure img {
          height: 100%;
          object-fit: cover;
          filter: brightness(50%);
      }
  }
}

.btn-success:hover {
  color: #fff;
}